{{ define "home/get-hello.tmpl" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get home hello page</title>
</head>
<body>
    <div>
        <p>Get home hello page</p>
    </div>
</body>

</html>
{{end}}